// 반응형 breakpoints
$desktop : 1024px;

@mixin desktop{
  @media all and (min-width: $desktop) {
    @content;
  }
}

// 레이아웃 플렉스
@mixin flex-layout($dir:row, $just:center, $align:center, $gap:1rem){
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}

// 버튼 처리
@mixin btn-style($bg-color){
  background-color: $bg-color;
  padding: 0.5rem 2rem;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 6px 6px;
  }
}