@use "../../assets/scss/font" as *;
@use '../../assets/scss/variables' as *;

.product-list{
    padding: 8rem 4rem 3rem 4rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
}

.main_txt{
    @include en-Heading;
    text-align: center;
}
