/* 공통 */
.detail {
    width: 100%;
}

/* cloud */
.detail.cloud {
    background: #f6f6f6;
}

/* velora */
.detail.velora {
    background: #fff;
}

/* midnight */
.detail.midnight {
    background: #111;
    color: #fff;

    .btn {
        background: #fff;
        color: #000;
    }
}

/* moss */
.detail.moss {
    background: #daaaaa;
}

/* still */
.detail.still {
    background: #f0f0f0;
}

/* 특정 섹션만 건드릴 때 예시 */
.detail.moss .top_img {
    background-position: center;
}
