@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

.best-item-section {
  @include ko-Body-Large;
  position: relative;
  width: 100%;
  background-color: var(--color-BK);
  @include flex-layout($just:flex-start);
  overflow: hidden;

  .container {
    width: 100%;    
    /* Swiper 영역 */
    .best-item-swiper {
      width: 100%;
      height: 65vh; /* 슬라이더 높이 */
      overflow: visible; /* 슬라이드가 화면 오른쪽 끝까지 보이게 함 */
    }

    /* 개별 슬라이드 스타일 (너비 고정 필수) */
    .best-item-slide {
      width: 40%; 
      display: flex;
      flex-direction: column;
      opacity: 0.5; /* 기본 흐림 처리 */
      transition: opacity 0.4s ease;

      /* 마우스 올리거나 활성화시 선명하게 */
      &:hover {
        opacity: 1;
        // scale: 1.1;
      }

      .img-box {
        width: 100%;
        height: 80%;
        overflow: hidden;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          // border-radius: 4px; /* 살짝 둥글게 */
        }
      }
    }
  }
  button{
    width: 250px;
    @include btn-style(var(--color-BK));
    border-radius: 2rem;
    font-size: 1.2rem;
    @include flex-layout();
    position: absolute;
    top: 65%;
    left: 43%;
  z-index: 10; 
  }
}
