.best-item {
  width: 100%;
  padding: 140px 0;
  background: #fff;
}

.banner {
  position: relative;
  width: 100%;
  overflow: hidden;

  &_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    z-index: 2;
    pointer-events: none;
    background: url('../../assets/img/gradient_bg.png') no-repeat center / cover;
  }

  &_viewport {
    overflow: hidden;
  }

  &_track {
    display: flex;
    will-change: transform;
  }

  &_slide {
    min-width: 480px;
    margin-right: 40px;

    img {
      width: 100%;
      height: 560px;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}