@use "../../assets/scss/mixins" as *;
#main-video {
  height: 100vh;
  .video-wrap {
    position: relative;
    height: 100%;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .logo-img {
      position: absolute;
      inset: 0;
      z-index: 1;
      margin: auto;
      width: 600px; // 필요에 맞게
    //   pointer-events: none;
    }
  }
}
