@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

.product-md {
  @include ko-Body-Large;
  background-color: var(--color-main);
  .product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      width: 100%;
      height: 480px;
      object-fit: cover;
    }
    .product-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 3rem 6rem;
        gap: 1rem;
        h3{
            font-size: 2.5rem;
        }
      button {
        @include btn-style(var(--color-BK));
        border-radius: 2rem;
        font-size: 1.2rem;
      }
    }
  }
}
