@use "../../assets/scss/font" as *;
@use "../../assets/scss/mixins" as *;

$nav-height: 50px;

#header {
  width: 100%;
  height: 110px;
  // header를 고정
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  
  .home-logo {
    cursor: pointer;
    pointer-events: auto; 
    img {
      width: 70px;
      margin: 1rem;
    }
  }
  // header의 빈 공간은 마우스가 통과되도록 설정 (사이트 본문 클릭 방해 금지)
  pointer-events: none; 
  
  // header에 hover 되면 down 아이콘 사라짐
  &:hover > .icon-down {
    transition: 0.3s;
    opacity: 0;
  }
  
  .container {
    @include flex-layout(column);
    transform: translateY(-60px);
    nav {
      width: 650px;
      height: $nav-height;
      border-radius: 25px;
      background: rgba( 255, 255, 255, 0.2 );
      backdrop-filter: blur( 3px );
      border: 1px solid rgba( 255, 255, 255, 0.2 );
      box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
      @include flex-layout($just: space-between);
      // nav 기본 설정 - 숨김
      transition: 0.4s;
      transform: translateY(-150px);

      // header의 nav는 마우스가 통과되지 않도록 설정
      pointer-events: auto; 

      .icon-sofa {
        width: 100px;
        height: $nav-height;
        border-radius: 25px;
        transition: 0.3s;
        cursor: pointer;
        @include flex-layout();
        svg {
          font-size: 1.5rem;
          color: var(--color-100);
          transition: 0.3s;
        }

        // sofa 아이콘 hover 했을 때 변경사항
        &:hover {
          background-color: var(--color-100);
          svg {
            color: var(--color-BK);
            transform: scale(1.1);
          }
        }
      }

      .search {
        width: 250px;
        height: 35px;
        background-color: rgba( 255, 255, 255, 0.3 );

        border-radius: 17.5px;
        @include flex-layout();
        transition: 0.3s;
        input {
          border-width: 0 0 1px;
          height: 25px;
          padding-left: 0.5rem;
          outline: none;
          background: transparent;
        }
        .icon-search {
          cursor: pointer;
        }

        // search바에 hover 시 변경사항
        &:hover {
          background-color: var(--color-100);
          transform: scale(1.1);
        }
      }

      .icon-cart {
        width: 100px;
        height: $nav-height;
        border-radius: 25px;
        transition: 0.3s;
        cursor: pointer;
        @include flex-layout();
        svg {
          font-size: 1.2rem;
          color: var(--color-100);
        }

        // cart 아이콘에 hover 시 변경사항
        &:hover {
          background-color: var(--color-100);
          svg {
            color: var(--color-BK);
            transform: scale(1.2);
            transition: 0.3s;
          }
        }
      }
    }
    .icon-down {
      // header의 drop-down 아이콘은 마우스가 통과되지 않도록 설정
      pointer-events: auto; 
      cursor: pointer;
      margin-top: 1rem;
      transition: 0.3s;
      svg {
        font-size: 1.8rem;
        color: var(--color-sub-BR);
      }
    }
  }
  // header에 hover 되면 nav 등장
  nav.open {
  transform: translateY(-50px);
  }
}